
@{
    ViewBag.Title = "Views";
}

<style>

    .column {
        float: left;
        width: 255px;
        height: 100px;
        color: #fff;
        padding: 10px;
        margin: 10px;
        background: #3db5da;
        border-radius: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .title {
        color: #5caac1;
    }
</style>

<div id="boxes">
    <h3 class="title">What would you like to view?</h3>
    <div class="row">
        <a href=@Url.Action("Views", "Home")>
            <div class="column">
                <h3>Views</h3>
            </div>
        </a>

        <a href=@Url.Action("AnnualIncomeAndExpensesPayee", "IncomeAndExpenses")>
            <div class="column">
                <h3>Annual Income And Expenses</h3>
            </div>
        </a>

        <a href=@Url.Action("MonthlyIncomeAndExpensesPayee", "IncomeAndExpenses")>
            <div class="column">
                <h3>Monthly Income And Expenses</h3>
            </div>
        </a>

    </div>
</div>